{% extends 'layout.html' %}

{% block body %}
<div class='random' id ='home'></div>
	<div class ='theimg'>
		<div class='container' style='margin-top:100px; font-family: Courier New, monospace;'>
			<center><h1><b><big>Sargon Odicho</big></b></h1></center>
			<center><h2> My love for acting and computer science all in one page.</h2></center>
			<center><h2> Experience, projects, work, and why I do it</h2></center>


		</div>

		
		<div class = 'jumbotron' style='background-color:transparent; text-align:center;'>
				<br>
				<h1 class="ml12" style='letter-spacing:20px; font-weight:bold;'>CODING || ACTING</h1>


<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>

	</div>


</div>

	

	<div class="container" style= 'background-color:rgba(47, 79, 79, 0.61) !important;border-style: double !important; border-color: #fff '>
		<div class ="jumbotron" id='CS' style="background-color: #000 !important;font-family: Courier New, monospace;">
			<div class='row'>
      <div class='col-sm-6'>
        <h1><u>Coding</u></h1>
        </div>
        <div class='col-sm-6'>
         <img src ='https://media0.giphy.com/media/26tn33aiTi1jkl6H6/200.gif'>
          </div>
      </div> 
    </div>
			<div class='row'>
				<div class ='col-sm-12' style="text-align:left;">
					<h1> INT. CODING IS CREATIVITY </h1>
                    <p style='font-size:2rem'> There are so many ways to solve problems, design, and bring your ideas to life by just simply coding. I think what really attracts me is the freedom in the practice. I love to be able think freely, create, find ways to do things differently and effectively.</p>
                    <br>
                    <p style ='font-size:2rem'> Sounds like it's simple, but if you've never done it and you lay your eyes on something like this.</p> 
                    <!--<img src = 'https://miro.medium.com/max/3806/1*XaLSrpR-dNDVgcQDNeWPkg.png' style ='width: 1000px; height:500px;'> -->

                    <p style ='font-size:2rem'> (It can be a bit intimidating)</p>
                    <hr>

				</div>
			</div>
            <br>
            <br>
            <h1> Coding Work </h1>
            <div class='row'>
                <div class ='col-sm-6'>
                    <h2> Side/School Projects </h2>
                    <ul style='color:#fff !important; float:left; font-size:18px'>
                      <li>SoundMind (Side) || Music social media</li>
                      <li> MyJournal (Side) || Digital Journal</li>
                      <li> Assignment Planner (School) || Event/School Planner</li>
                      <li> AI Vacuum (School) || Optimizing AI Vacuum </li>

                    </ul>
                </div>
                <div class ='col-sm-6'>
                    <h2> Languages </h2>
                   <ul style='color:#fff !important; float:left; font-size:18px'>
                      <li>Python || Pandas, Sci-kit, Numpy, Seaborn, Matplotlib</li>
                      <li>C++</li>
                      <li>HTML | CSS | JavaScript</li>
                      <li> Swift </li>
                      <li> SQL </li>
                    </ul>
                </div>


                </div>
            </div>

    </div>
    <div class="container" style = 'background-color:rgba(47, 79, 79, 0.61) !important;border-style: double !important; border-color: #fff '>
        <div class ="jumbotron" id='act' style="background-color: #000 !important;font-family: Courier New, monospace;">
          <div class='row'>
            <div class='col-sm-6'>
              <h1><u>Acting</u></h1>
              </div>
              <div class='col-sm-6'>
               <img src ='https://i.pinimg.com/originals/5b/ae/e8/5baee8498c5289a20332096c4cab6e4b.gif'>
                </div>
            </div> 
        </div>
            <div class='row'>
                <div class ='col-sm-12' style="text-align:left;">
                    <h1> EXT. ACTING IS CREATIVITY </h1>
                    <p style='font-size:2rem'> Just like there is a certain creativity to coding, I feel like the same type of creativity applies to acting. There is not a certain way to play a character given a scene and circumstances, it is how you believe it should be portrayed. There can be multiple ways.<br> <br> Of course, certain ways to play a character can be better than others, but that directly relates to coding. You can solve a problem two different ways and one way might take less space and be quicker. Playing a character could be done two ways, and one of the portrayals can help the audience understand more than the other.  </p>
                    <hr>
                </div>
            </div>
            <br>
            <br>
            <h1> Acting Work </h1>
            <div class='row'>
                <div class ='col-sm-6'>
                    <h2> Films | Acting/Writing </h2>
                    <ul style='color:#fff !important; float:left; font-size:18px'>
                      <li>Through The Lens (Actor, Josh)</li>
                      <li> SAGE (Writer) To be made</li>
                      <li> Dead & Gone (Writer) To be made</li>

                    </ul>
                </div>
                <div class ='col-sm-6'>
                    <h2> Classes </h2>
                   <ul style='color:#fff !important; float:left; font-size:18px'>
                      <li> Acting III </li>
                      <li> Acting for the Camera </li>
                      <li> Performance II </li>
                    </ul>
                </div>
                </div>
        </div>
        <div class="container" style = 'background-color:rgba(47, 79, 79, 0.61) !important;border-style: double !important; border-color: #fff '>
    <div class ="jumbotron" id='why' style="background-color: #000 !important;font-family: Courier New, monospace;">
      <h1><u>Why?</u></h1>
        </div>
      <div class='row'>
        <div class ='col-sm-12' style="text-align:left;">
          <h1> INT./EXT. Why Computer Science? Why Acting? </h1>
                    <p style='font-size:2rem'> If I were to be short about it, I guess it's because I love to code, and I love to act. But, there is so much within that love. </p>
                    <br>
                    <p style ='font-size:2rem'> I love to act because I kind of get a high off of it, or a release if you will. The goosebumps you get when you do something impressive that you never thought you could do. The entire process of really digging deep into a character and creating a past for the character. The preperation is intense and that just enhances the feeling you get before, during, and after the performance. It's not easy to explain, but it is a beautiful feeling. </p> 
                    <br>

                    <p style ='font-size:2rem'> I love to code because of nearly the same thing, but in a different form. It's still got a process similar to acting, but it feels quicker to me. Preparing and understanding a problem, then using the tools that you know to solve that problem. It is fulfilling not only because you solved the problem, but because you have another understanding and problem solved under your belt. <br><br>You can constantly grow, and that's what both, computer science and acting are about, the chase. The constant want to grow, learn, accomplish. It's something that keep you moving.</p>
                    <hr>
                    <br>
                    <br>

        </div>
      </div>
            <br>
            <br>
          </div>
        <div class='container-fluid' id='footer' style = 'background-color: #2B2D2F; height:auto !important; color:#fff;'>
            <div class='row'>
                <div class ='col-sm'>
                    <h2> Thanks for reading. Follow me on social media!</h2>
                </div>
                </div>

              <div class='row'>
                <div class ='col-sm'>
                  Copyright
                </div>
                <div class ='col-sm'>
                  Developed by: Sargon Odicho
                </div>
            </div>
            </div>

        </div>


<script>
	// Wrap every letter in a span
	// Credit to Tobais Ahlin for this beatiful design
var textWrapper = document.querySelector('.ml12');
textWrapper.innerHTML = textWrapper.textContent.replace(/\S/g, "<span class='letter'>$&</span>");

anime.timeline({loop: true})
  .add({
    targets: '.ml1 .letter',
    scale: [0.3,1],
    opacity: [0,1],
    translateZ: 0,
    easing: "easeOutExpo",
    duration: 600,
    delay: (el, i) => 70 * (i+1)
  }).add({
    targets: '.ml1 .line',
    scaleX: [0,1],
    opacity: [0.5,1],
    easing: "easeOutExpo",
    duration: 700,
    offset: '-=875',
    delay: (el, i, l) => 80 * (l - i)
  }).add({
    targets: '.ml1',
    opacity: 0,
    duration: 1000,
    easing: "easeOutExpo",
    delay: 1000
  });

anime.timeline({loop: true})
  .add({
    targets: '.ml12 .letter',
    translateX: [40,0],
    translateZ: 0,
    opacity: [0,1],
    easing: "easeOutExpo",
    duration: 1200,
    delay: (el, i) => 500 + 30 * i
  }).add({
    targets: '.ml12 .letter',
    translateX: [0,-30],
    opacity: [1,0],
    easing: "easeInExpo",
    duration: 1100,
    delay: (el, i) => 100 + 30 * i
  });
</script>

{% endblock %}

